body
{
	background-color: #303030 ;
	margin: 0 ;
	padding: 0;
	font-family: 'Kelly Slab', cursive;
	font-size: 20px;
/*	color: white;*/
	
}

.title
{
	
	
	margin: 0 ;
	text-align: center;
	font-size: 68px;
	font-family: 'Monoton', cursive;

}

.header
{	
	background-color: #303030;	
}

.home
{
	text-decoration:none;
	height: 68px;
	width: 	68px;
	color: #DAA520;
}

.getin
{
	text-align:center;
	background-color: gray;
	width: 30%;
	margin-left: 35%;
	margin-right:35%;
	border-radius: 15px;
}

.log
{
	pardding:15px;
	
}	

.in
{
	border-radius: 10px;
	margin: 10px;
	padding: 12px;
	color: red;
	border-color: #9B7317;
}

.logbut
{
	font-family: 'Kelly Slab', cursive;
	font-size: 20px;
	background-color: #9B7317;
	border-radius: 5px;
	border-color: #9B7317;	
}

.register
{
	color: #4E7C1A;
	text-decoration: none;
	
}

.info{
	padding: 10px;
	color: white;
}


